:root {
  --primary-color: #73e679;
  --nav-color: rgb(7, 7, 31);
}

.NavbarItems {
  background: rgb(172, 171, 169);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(26, 8, 8, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  transition-timing-function: ease-in;
  transition: 0.5s;
  opacity: 0.7;
  z-index: 9999;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-logo:hover img {
  transform: scale(1.3);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 27px;
  list-style: none;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: var(--nav-color);
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 0.7rem;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  background-color: rgb(236, 245, 222);
  color: var(--primary-color);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

/*--------sign up---------*/
.nav-links-mobile {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.7rem;
  color: #520cc2;
  white-space: nowrap;
}

.nav-links-mobile i {
  padding-right: 10px;
}
/*---------sign up hover--------*/
.nav-links-mobile:hover {
  background-color: rgb(236, 245, 222);
  color: var(--primary-color);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  color: red;
}

button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #151516;
  color: #fff;
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .nav-links:hover {
    background: #01959a;
    transition: none;
  }

  button {
    display: none;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background: #01959a;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .menu-icons {
    display: block;
    cursor: pointer;
  }

  .menu-icons i {
    font-size: 1.2rem;
    color: #222;
  }
}
